.home-container {
    display: flex;
    height: 90vh;
    /* background-color: #a2e3f5; */
    background-color: #e1f0ff;
    z-index: -1; /* Make sure the content sits above the background */
    background-image: url('../assets/bg.png');
    background-size: 80rem; /* Make the image cover the entire screen */
    background-position-y: -170px;
    background-position-x: 340px;
    background-repeat: no-repeat;
    width: 100%;
}


.home-left {
    flex: 1;
    margin-top: 10vh;
    margin-left: 90px;
}

.home-right {
    flex: 1;
}

.home-d {
    font-family: Outfit;
    font-size: 80px;
    font-style: normal;
    letter-spacing: 0.48px;
    margin: 0;  /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    line-height: 15px; /* Control line height */
}

.home-d {
    color: #272E6C;
    font-weight: 200;
}

/* SLOGAN */
.home-p {
    color: #272E6C;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 125.994%; /* 35.278px */
    letter-spacing: 0.28px;
}


@media (max-width: 150px) {
   
}