.about-container {
    display: flex;
    height: 90vh;
    background-color: #a2e3f5; 
 
    z-index: 1; /* Make sure the content sits above the background */
    background-image: url('../assets/bg.png'); /* Path to your leaves image */
    background-size: 65rem; /* Make the image cover the entire screen */
    background-position-y: 0px;
    background-position-x: 360px;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    width: 100%;
}

.about-container h1 {
    font-family: Outfit;
    font-size: 100px;
    font-style: normal;
    letter-spacing: 0.48px;
    margin: 0;  /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    line-height: 15px; /* Control line height */
}

.about-container p {
    color: #272E6C;
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 125.994%; /* 35.278px */
    letter-spacing: 0.28px;
}

.about-container .text-section {
    width: 50%;
}
