@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

.appointment-container {
    display: flex;
    height: 90vh;
    background-color: #a2e3f5;
    z-index: 1; /* Make sure the content sits above the background */
    background-image: url('../assets/bg.png'); /* Path to your leaves image */
    background-size: 60rem; /* Make the image cover the entire screen */
    background-position-y: 30px;
    background-position-x: 580px;


    background-repeat: no-repeat; /* Prevent the image from repeating */

    justify-content: center;
    overflow-y: auto; /* This will add a vertical scrollbar when needed */


}


.form-container {
    display: flex;
    margin-top: 15px;
    border-radius: 20px;
    width: 50%;
    height: 600px;
    flex-shrink: 0;
    background-color: #fff;
    flex-direction: column;
    
}

.appointment-title {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    clear: both;
    text-align: center;
    color: #272E6C;

}

.appointment-content {
    display: flex; /* Makes left and right side align horizontally */
    gap: 20px; /* Adds spacing between left and right content */
    /* margin-top: 20px; */
    margin-left: 19px;
    margin-right: 19px;
}

.appointment-content h3 {
    align-self: flex-start; /* Aligns the <h3> title to the top (left in a flex row) */
    color: #133E87;
    font-family: Outfit;
    font-weight: 400;

}

.appointment-content input {
    /* margin-top: 10px; */
height: 22.175px;
border-radius: 15px;
border: 1px solid #555;
padding: 0 0 0 10px;


}


/* APPOINTMENT FORM (LEFT POINT) */
.appointment-left {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.appointment-right {
    flex: 1;
    
}


.appointment-div1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.appointment-div1 input {
    margin-top: 20px;
    height: 36px;

    /* margin-bottom: 20px; */
    padding: 0 0 0 10px;


}


.firstname {
    width: 260px;
    margin-right: 15px;


}


.suffix {
    width: 75px;
}

.appointment-div2 input{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 36px;
    flex-shrink: 0;
    margin-bottom: 20px;
}




/* APPOINTMENT FORM (RIGHT POINT) */

.branch-button {
    display: flex;
    justify-content: center;
    
}

.branch-button button {
    font-size: 16px;
    margin: 10px;
    width: 130px;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #727272; /* Border styling */
    background-color: #f0f0f0; /* Light gray background */
    color: black; /* Default text color */
    transition: all 0.3s ease;



}




/* Hover Effect */
.branch-button button:hover {
    background-color: #2e3894; /* Dark blue background */
    color: white; /* White text */
}

/* Active Effect */
.branch-button button.active {
    background-color: #3946B5; /* Same as hover color */
    color: white; /* White text */
}

.appointment-branch {
    margin: 10px 0px 10px 0px;
}

.appointment-date {
    margin-top: 20px;
    margin-bottom: 10px;
}

.appointment-datepicker {
    width: 350px;
    height: 36px !important; /* Force the height */

}

.appointment-services {
    margin-top: 40px;
    margin-bottom: 20px;
}


.appointment-services-menu {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 36px;
    flex-shrink: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid #555;
    padding: 0 0 0 10px;
}



.appointment-submit {
    display: flex;
    justify-content: center;
}

.set-appointment-button {
    
    margin-top: 50px;
    width: 320px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background: #3946B5;
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.26; /* Equivalent to 125.994% */
    letter-spacing: 0.16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
}

.set-appointment-button:hover {
    background-color: #2e3894; /* Slightly darker blue for active state */
    color: white; /* Maintain white text */
    transform: scale(0.98); /* Adds a subtle press effect */
}



