@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

.confirmation-container {
    display: flex;
    height: 90vh;
    background-color: #a2e3f5;
    z-index: 1; 
    background-image: url('../assets/bg.png'); 
    background-size: 65rem; /* Make the image cover the entire screen */
    background-position-y: 0px;
    background-position-x: 360px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%; /* Optional */



    background-repeat: no-repeat; /* Prevent the image from repeating */

    justify-content: center;
    overflow-y: auto; /* This will add a vertical scrollbar when needed */


}