.contact-container {
    display: flex;
    height: 90vh;
    background-color: #a2e3f5;
    z-index: 1; /* Make sure the content sits above the background */
    background-image: url('../assets/bg.png'); /* Path to your leaves image */
    background-size: 30rem; /* Make the image cover the entire screen */
    background-position-y: 330px;
    background-position-x: 880px;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat; /* Prevent the image from repeating */
}