.home-container {
    display: flex;
    height: 90vh;
    /* background-color: #a2e3f5; */
    background-color: #e1f0ff;
    z-index: -1; /* Make sure the content sits above the background */
    background-image: url('../assets/bg.png');
    background-size: 75rem; /* Make the image cover the entire screen */
    /* background-position-y: 65px; */
    background-position-x: 340px;
    background-repeat: no-repeat;
    /* background-attachment: fixed;     */
    width: 100%;
}


.home-left {
    flex: 1;
    margin-top: 23vh;
    margin-left: 90px;
}

.home-right {
    flex: 1;
}

/* 8 CARE */
.home-e, .home-care {
    font-family: Outfit;
    font-size: 150px;
    font-style: normal;
    letter-spacing: 0.48px;
    margin: 0;  /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    line-height: 15px; /* Control line height */


}

.home-e {
    color: #272E6C;
    font-weight: 200;
}

.home-care {
    color: #3946B5;
    font-weight: 600;
}

/* DENTAL CLINIC */
.home-clinic {
    color: #272E6C;
    font-family: Outfit;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.994%; /* 88.196px */
    letter-spacing: 0.7px;
}



/* SLOGAN */
.home-slogan {
    color: #272E6C;
    font-family: Outfit;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 125.994%; /* 35.278px */
    letter-spacing: 0.28px;
}






/* BUTTONS */

.home-buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 15px; /* Space between buttons */
    height: 55px;
}

.home-appointment {
    background-color: #3946B5;
    color: white;
    border: none;
    

}

.home-services {
    color: #3946B5;
    border: #3946B5 1px solid;
}

.home-appointment, .home-services {
    font-family: Outfit;
    font-size: 20px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.home-appointment:hover  {
    background-color: #272E6C; /* Darker color on hover */
}

.home-services:hover {
    background-color: #272E6C; /* Darker color on hover */
    color: white;
    border: none;
}






@media (max-width: 150px) {
   
}




