.contact-container {
    display: flex;
    height: 90vh;
    background-color: #a2e3f5;
    z-index: 1; /* Make sure the content sits above the background */
    background-image: url('../assets/bg.png'); /* Path to your leaves image */
    background-size: 150rem; /* Make the image cover the entire screen */
    background-position-y: -415px;
    background-position-x: -860px;


    background-repeat: no-repeat; /* Prevent the image from repeating */
    
}